.doctor-listing {
    font-family: Helvetica;
}

.doctor-listing-name {
    font-size: 20px;
    color: #333;
}

.doctor-listing-address {
    color: #666;
}

.doctor-listing {
    border-bottom: 1px solid #333;
}

.doctor-map {
    height: 500px;
}